<h2>GET /boats</h2>

<p>Response: {{response}}</p>

<form action="/loads" method="GET" class="inline-form">
    <input type="hidden" name="format" value="html">
    <button type="submit">Loads</button>
</form>