<h2>Home Page</h2>

<p class="purpose-home">The purpose of this UI is to create user accounts with Auth0, in order to test the RESTful API
    using Postman.</p>

<p><span class="login-label">Login Status:</span> <span class="login-status">{{message}}</span></p>

<p class="ul-label">Logged in guide:</p>
<ul>
    <li>If logged in, select "Profile" to view the user's JWT.</li>
    <li>If logged in, select "Login or Sign Up" to change users or to sign up.</li>
</ul>

<p class="ul-label">Logged off guide:</p>
<ul>
    <li>If logged off, select "Profile" to login and view the user's JWT.</li>
    <li>If logged off, select "Login or Sign Up" to login or to sign up.</li>
</ul>