<h2>GET /</h2>

<h3>Logged in guide</h3>
<ul>
    <li>If logged in, select 'profile' to view the user's JWT.</li>
    <li>If logged in, select 'login' to switch to another user.</li>
    <li>If logged in, select 'logout' to logout.</li>
</ul>

<h3>Logged off guide</h3>
<ul>
    <li>If logged off, select 'profile' to log in and view the user's JWT.</li>
    <li>If logged off, select 'login' to login to a user.</li>
</ul>

<form action="/login" method="GET" class="inline-form">
    <button type="submit">Login</button>
</form>

<form action="/logout" method="GET" class="inline-form">
    <button type="submit">Logout</button>
</form>

<form action="/profile" method="GET" class="inline-form">
    <button type="submit">Profile</button>
</form>

<p>Login Status: {{message}}</p>