<h2>Home Page</h2>

<p class="purpose-home">The purpose of this UI is to create user accounts with Auth0, in order to test the RESTful API
    using Postman.</p>

<p><span class="login-label">Login Status:</span> <span class="login-status">{{message}}</span></p>

<p class="ul-label">Instructions:</p>
<ul>
    <li>Select "Login or Sign Up" to log into an existing account or to sign up for an account.</li>
    <li>Select "Profile" to view the signed-in user's JWT.</li>
    <li>Select "Logout" to log out of the signed-in account.</li>
</ul>