<h2>Home Page</h2>

<p class="purpose-home">The purpose of this UI is to create user accounts using Auth0, in order to test the RESTful API
    with
    Postman.</p>

<p><span class="login-label">Login Status:</span> <span class="login-status">{{message}}</span></p>

<p>Logged in guide:</p>
<ul>
    <li>If logged in, select "Profile" to view the user's JWT.</li>
    <li>If logged in, select "Login or Sign Up" to login to another user or sign up.</li>
</ul>

<p>Logged off guide:</p>
<ul>
    <li>If logged off, select "Profile" to login and view the user's JWT.</li>
    <li>If logged off, select "Login or Sign Up" to login to a user or sign up.</li>
</ul>