<h2>Profile Page</h2>

<p><span class="user-label">User:</span> <span class="user-account">{{user_name}}</span></p>

<div class="jwt-container">
    <p><span class="jwt-label">JWT: </span> <span class="jwt-value">{{user_JWT_id_token}}</span></p>
</div>