<h2>GET /profile</h2>
<p>User Info Page for: {{user_name}}</p>

<p>JWT: {{user_JWT_id_token}}</p>

<form action="/boats" method="GET" class="inline-form">
    <input type="hidden" name="format" value="html">
    <button type="submit">Boats</button>
</form>