<h2>Profile Page</h2>

<p>
    <span class="user-label">User:</span> <span class="user-account">{{user_name}}</span>
</p>

<p class="ul-label">JWT:</p>
<ul>
    <li class="jwt-value">{{user_JWT_id_token}}</li>
</ul>