/* ----- Start Navbar Styles ----- */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: white;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.nav-buttons {
    display: flex;
    padding-right: 3%;
}

.inline-form {
    margin: 0 5px;
}

.navbar button {
    background-color: #3b4f63;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* ----- End Navbar Styles ----- */

/* ----- Start Purpose Styles ----- */

.purpose-home {
    font-size: 17px;
    font-weight: 600;
    color: #2c3e50;
    border-left: 4px solid #2980b9;
    padding: 8px;
    margin-bottom: 10px;
}

/* ----- End Purpose Styles ----- */

/* ----- Start user-label, login-label, user-account, login-status Styles ----- */

.user-label,
.login-label {
    font-size: 16px;
    font-weight: 700;
    color: #3a4a5a;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 6px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.user-account,
.login-status {
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #2980b9;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
}

.user-label,
.user-account,
.login-label,
.login-status {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* ----- End user-label, login-label, user-account, login-status Styles ----- */

/* ----- Start jwt_label and jwt_value Styles ----- */

.jwt-label {
    font-weight: bold;
    color: #2980b9;
}

.jwt-value {
    word-break: break-all;
}

.jwt-container {
    background-color: #ebeef1;
}

/* ----- End jwt_label and jwt_value Styles ----- */

/* ----- Start General body Styles ----- */

body {
    background-color: #faf7f7;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 2%;
    padding-top: 5%;
}

p,
ul {
    font-weight: bold;
    color: #2980b9;
    list-style-type: none;
}

.ul-label {
    margin-top: 2%;
    margin-left: 2%;
}

ul li {
    background-color: #fff;
    color: #6a6e71;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: -2%;
}

h2 {
    text-align: center;
    color: #2980b9;
    margin-top: 20px;
}

/* ----- End General body Styles ----- */